<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dcsoup" version="1.0.0" targetFramework="net452" />
  <package id="Discord.Net" version="0.9.6" targetFramework="net452" />
  <package id="Discord.Net.Audio" version="0.9.6" targetFramework="net452" />
  <package id="Discord.Net.Commands" version="0.9.6" targetFramework="net452" />
  <package id="Google.Apis" version="1.28.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.28.0" targetFramework="net452" />
  <package id="Google.Apis.Calendar.v3" version="1.28.0.929" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.28.0" targetFramework="net452" />
  <package id="Google.Apis.Drive.v3" version="1.28.0.953" targetFramework="net452" />
  <package id="Google.GData.AccessControl" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Calendar" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net452" />
  <package id="NAudio" version="1.8.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net452" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net452" />
</packages>